<section id="freelance" style="width: 100%;">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-8 offset-md-2">
            <h5>
                <strong>
                    Freelance Work
                </strong>
            </h5>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <h5>
                <a href="/freelance/driprent">
                    DripRent
                </a>
            </h5>
            
            <p>
                An e-commerce marketplace for used luxury clothing items
                rental
            </p>
            
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <h5>
                <a href="/freelance/myrates">
                    MyRates
                </a>
            </h5>
            
            <p>
                A platform for social media influencers to receive, manage, and
                process promo/ad requests from users
            </p>
            
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <h5>
                <a href="/freelance/dinnerhost">
                    DinnerHost
                </a>
            </h5>
            
            <p>
                An on-demand marketplace for professional and amateur chefs/cooks,
                uber-esque by usability
            </p>
            
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <h5>
                <a href="/freelance/senzzu">
                    Senzzu
                </a>
            </h5>
            
            <p>
                An inventory and patient management platform geared specifically
                towards pharmacists and their patients
            </p>
            
            <hr>
        </div>
    </div>
</section>