<style type="text/css">
    #main-body {
        margin-top: 60px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
</style>

<section id="freelance" style="width: 100%;">
    <div class="row">
        <div class="project-box col-md-6" id="driprent">
            <div class="table">
                <div>
                    <img src="/images/senzzu.jpg" height="50px">
                    <h4>DripRent</h4>
                </div>
            </div>
            
            <div class="cta">
                <a href="/freelance/driprent">
                    <button class="btn btn-transparent btn-lg">
                        view details
                    </button>
                </a>
            </div>
        </div>
        
        <div class="project-box col-md-6" id="myrates">
            <div class="table">
                <div>
                    <img src="/images/myrates.png" height="50px">
                    <h4>MyRates</h4>
                </div>
            </div>
            
            <div class="cta">
                <a href="/freelance/myrates">
                    <button class="btn btn-transparent btn-lg">
                        view details
                    </button>
                </a>
            </div>
        </div>
        
        <div class="project-box col-md-6" id="dinnerhost">
            <div class="table">
                <div>
                    <img src="https://dinner-host.herokuapp.com/images/logo-transparent.png"
                        height="50px">
                    <h4>DinnerHost</h4>
                </div>
            </div>
            
            <div class="cta">
                <a href="/freelance/dinnerhost">
                    <button class="btn btn-transparent btn-lg">
                        view details
                    </button>
                </a>
            </div>
        </div>
        
        <div class="project-box col-md-6" id="senzzu">
            <div class="table">
                <div>
                    <img src="/images/senzzu.jpg" height="50px">
                    <h4>Senzzu</h4>
                </div>
            </div>
            
            <div class="cta">
                <a href="/freelance/senzzu">
                    <button class="btn btn-transparent btn-lg">
                        view details
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>