<section id="projects">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="dashboard-nav-link nav-link active cursor-pointer"
                        id="nav-link-articles" onclick="showContent(this)">
                        <span style="float: left;">my posts</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-nav-link nav-link cursor-pointer"
                        id="nav-link-projects" onclick="showContent(this)">
                        <span style="float: left;">my projects</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-nav-link nav-link cursor-pointer"
                        id="nav-link-profile" onclick="showContent(this)">
                        <span style="float: left;">my profile</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link cursor-pointer" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="float: left;">new</span>
                            <span style="float: right;">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/blog/create">article</a>
                            <a class="dropdown-item" href="/project/new">project</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <%= link_to destroy_admin_session_path,
                        class:"dashboard-nav-link nav-link cursor-pointer",
                        method: :destroy do %>
                        <span style="float: left;">
                            log out
                        </span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    <% end %>
                </li>
            </ul>
        </div>
        
        <div class="col-md-9">
            <section id="articles-tab" class="content-tab active">
                <%= render partial: "/blog/articles/articles",
                    locals: { posts: current_admin.articles } %>
            </section>
            
            <section id="projects-tab" class="content-tab">
                <%= render partial: "/project/projects/projects",
                    locals: { projects: current_admin.projects } %>
            </section>
            
            <section id="profile-tab" class="content-tab">
                <h5>Edit profile</h5>
                <div id="profile-form">
                    <%= render "form" %>
                </div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    showContent = (elem) => {
        $('.dashboard-nav-link.active').toggleClass('active');
        elem.classList.add('active');
        
        let id = elem.id.split('nav-link-')[1];
        $('.content-tab.active').toggleClass('active');
        $(`#${id}-tab`).toggleClass('active');
    }
</script>

<style type="text/css">
    .content-tab:not(.active) {
        display: none;
    }
</style>