<article>
    <h4>
        <%= @featured_post.title %>
    </h4>
    <figure class="article-banner">
        <img src="https://image.businessinsider.com/5d692c692e22af0d94484477?width=600&format=jpeg&auto=webp"
            alt="<%= @featured_post.slug %>">
        <figcaption>
            <p><%= "Courtesy John P. Doe" %></p>
        </figcaption>
    </figure>
</article>