/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
html, body {
  overflow-x: hidden !important;
}

/* line 22, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
nav {
  background-color: #e5f1ff;
  height: 60px;
}
/* line 26, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
nav .nav-link {
  color: #8e9fb2 !important;
  cursor: pointer;
}
/* line 31, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
nav .nav-item:not(:last-child) {
  margin-right: 10px;
}

/* line 36, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#main-body {
  padding-top: 85px;
  padding-bottom: 85px;
  min-height: calc(100vh - 188px) !important;
  color: #737374;
}
/* line 42, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#main-body a {
  color: #007bff;
}

/* line 47, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
form {
  font-size: 15px !important;
}

/* line 51, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#article-form textarea {
  min-height: 500px;
}

/* line 56, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#article .article-content {
  color: #282d33;
}

/* line 61, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
textarea {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* line 67, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.article-banner {
  margin: 15px 0;
}
/* line 70, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.article-banner img {
  width: 100%;
  height: auto;
}

/* line 76, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
form .field:not(:last-child) {
  margin-bottom: 15px;
}

/* line 80, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.btn:not(.nav-link), input.form-control {
  height: 55px;
  border-radius: 0;
  outline: none !important;
  box-shadow: none !important;
}

/* line 87, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.badge {
  border-radius: 0;
  font-weight: normal !important;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 94, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.modal-content {
  border-radius: 0;
}

/* line 98, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.dropdown-menu {
  width: 100%;
  padding: 0;
  border-radius: 0;
}
/* line 103, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.dropdown-menu .dropdown-item {
  padding: 15px;
  cursor: pointer;
  border-bottom: 0.5px solid #e7e7e9;
}

/* line 110, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.btn-transparent {
  border-color: 1px solid #e7e7e9;
  color: #6c757d;
  background-color: transparent;
}

/* line 116, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
footer {
  background-color: #cce4ff;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #90909e !important;
  text-align: center;
}
/* line 124, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
footer a {
  color: #8e9fb2;
}
/* line 128, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
footer a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 133, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
footer a:not(:last-child) {
  margin-right: 20px;
}

/* line 138, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#request-quote {
  border-radius: 0;
  border-width: 1.5px;
  border-color: #fff;
}

/* line 144, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#request-quote:hover {
  background-color: #fff;
  color: #47475e !important;
}

/* line 149, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
article {
  padding-bottom: 15px;
}

/* line 153, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#comments {
  background-color: #b7cde5;
  padding: 15px;
  color: #fff !important;
}
/* line 158, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#comments #no-comments-notice {
  text-align: center;
  margin: 0;
}
/* line 163, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#comments #comment-content {
  min-height: 500px !important;
}

/* line 169, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#postPreviewModal .modal-dialog {
  margin: 0;
  max-width: 100%;
  padding: 15px 30px;
  align-content: center;
}
/* line 176, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#postPreviewModal .modal-content {
  width: 100%;
}

/* line 181, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
a.btn {
  padding-top: 14px;
  color: #fff !important;
  cursor: pointer;
}

/* line 188, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#projects .nav-link {
  height: 55px;
  padding-top: 14px;
}
/* line 193, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
#projects .nav-link:hover, #projects .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

/* line 199, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.cat-link {
  cursor: pointer;
}

/* line 203, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 207, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.no-underline {
  text-decoration: none !important;
}
