<section id="about">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div id="about-avatar" align="center">
                <img src="https://pbs.twimg.com/profile_images/1033883796263895040/GQJRpLmR_400x400.jpg"
                    alt="demesvar_avatar" height="250">
            </div>
            
            <h5 class="text-center">
                <strong>demesvar d. destin</strong>
            </h5>
            
            <p>
                hey there, thanks for checking out my blog! i'm a self-taught
                software developer and family guy enthusiast.
                in my spare time, i'm usually reading about sports, politics,
                home renovations, tech, some topics of philosophy,
                theology, religion, as well as medical and scientific
                research. in my spare time, i also eat an absurd amount of
                chocolate chip cookies.
            <p>
                feel free to get in touch at
                <a href="mailto:demesvardestin@gmail.com">
                    demesvardestin@gmail.com
                </a>
            </p>
            
            <p>cheers!</p>
        </div>
    </div>
</section>