<section id="about" style="padding-top: 30px;">
    <div class="row">
        <div class="col-md-6">
            <h6 style="margin-bottom: 30px;">
                <strong>welcome!</strong>
            </h6>
            
            <p>
                hey there, thanks for checking out my blog!
            </p>
            
            <p>
                i'm a self-proclaimed coconut water expert, amateur cyclist, and
                a huge fan of irreverent humor. in my spare time, i'm usually
                reading about sports, politics, tech, home renovations, philosophy,
                religion, and anything else i find interesting. i also eat an
                absurd amount of cool ranch doritos.
            </p>
            
            <p>
                i'll try to keep things up-to-date as my schedule permits.
                some of my posts will serve as an extension of my academic works,
                but for the most part, i'll probably be rambling about whatever
                piques my interest these days.
            </p>
            
            <p>
                feel free to get in touch at
                <a href="mailto:me@demesvar.com">
                    me@demesvar.com
                </a>
            </p>
            
            <p>cheers!</p>
            <p>
                <b>dem</b>
            </p>
        </div>
    </div>
</section>