<section id="about">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h5 class="text-center">
                <strong>demesvar d. destin</strong>
            </h5>
            
            <p>
                hey there, thanks for checking out my blog! i'm a self-proclaimed
                cookie expert, hobbyist software dev, and family guy enthusiast.
                in my spare time, i'm usually reading about sports, politics,
                home renovations, tech, philosophy,
                theology, religion, as well as medical and scientific
                research. i also eat an absurd amount of
                almonds and cashews.
            <p>
                feel free to get in touch at
                <a href="mailto:me@demesvar.com">
                    me@demesvar.com
                </a>
            </p>
            
            <p>cheers!</p>
        </div>
    </div>
</section>