<section id="about" style="padding-top: 30px;">
    <div class="row">
        <div class="col-lg-6">
            <h6 style="margin-bottom: 30px;">
                <strong>welcome!</strong>
            </h6>
            
            <p>
                hey there, thanks for stopping by &#128075;&#127998;
            </p>
            
            <p>
                i'm an incoming doctoral student at the penn state college of
                medicine, and previously worked in health care services at a
                nyc-area hospital for 4 years. i'm also a proud alumnus of the
                city college of new york (undergrad) and brooklyn college (grad).
            </p>
            
            <p>
                i use this space to share some thinkpieces and chronicle my amateur
                photography journey, among other things. i'll try to keep things
                up-to-date as my schedule permits. some of my posts will serve as
                an extension of my academic & professional endeavors, but for the
                most part, i'll probably ramble about whatever piques my interest
                at various times.
            </p>
            
            <p>
                feel free to get in touch &#128073;&#127998;
                <a href="mailto:me@demesvar.com">
                    me@demesvar.com
                </a>
            </p>
            
            <p>cheers!</p>
            <p>
                <b>dem</b>
            </p>
        </div>
    </div>
</section>