<section id="about">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div id="about-avatar" align="center">
                <img src="https://pbs.twimg.com/profile_images/1033883796263895040/GQJRpLmR_400x400.jpg"
                    alt="demesvar_avatar" height="250">
            </div>
            
            <h5 class="text-center">
                <strong>demesvar d. destin</strong>
            </h5>
            
            <p>
                hey there, thanks for checking out my blog! i'm a self-taught
                software engineer, business management major with temporarily shelved medical
                aspirations. i'm fascinated by technical research with pragmatic
                plausibilities, certain topics of philosophy stretching the limits
                of human understanding, thelogy and certain aspects of religion,
                both personal and organized, as well as medical and scientific
                research that aim to improve humankind on a macro level. in my
                spare time, i usually read, exercise, eat, or build websites (such as
                mine!).
            </p>
            
            <p>
                i currently work in healthcare at one of the largest nyc hospitals
                by size and impact, and
                in past lives, i worked at an ecommerce startup, an aol subsidiary,
                and a nyc nonprofit. my next career move will likely be back to tech,
                ideally a small startup, though i'm certainly open to mid-sized
                companies. i'm interested in <em>saas</em>, <em>marketplace</em>,
                <em>fintech</em>, <em>e-commerce</em>, <em>med-tech</em>, and
                <em>ad-tech</em> roles (non-exhaustive list). if you're a recruiter
                or employer, or if you'd like to reach out or contribute to my blog,
                shoot me an email at your convenience at
                <a href="mailto:demesvardestin@gmail.com">
                    demesvardestin@gmail.com
                </a>
            </p>
            
            <p>cheers!</p>
        </div>
    </div>
</section>