<section id="articles" style="padding-top: 15px;">
    <div class="row">
        <div class="col-lg-8">
            <h6>
                <strong>recent posts</strong>
            </h6>
            
            <div id="latest-posts">
                <%= render partial: "blog/articles/articles",
                    locals: { posts: @latest_posts } %>
            </div>
        </div>
    </div>
</section>