<section id="articles">
    <div class="row">
        <div class="col-lg-6">
            <h6>[latest posts]</h6>
            
            <div id="latest-posts">
                <%= render partial: "blog/articles/articles",
                    locals: { posts: @latest_posts } %>
            </div>
        </div>
        
        <div class="col-lg-6">
            <h6>[latest projects]</h6>
            
            <div id="latest-projects">
                <%= render partial: "project/projects/projects",
                    locals: { projects: @latest_projects } %>
            </div>
        </div>
    </div>
</section>