<section id="articles">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-12">
                    <h5>Featured</h5>
                    
                    <div id="featured-post">
                        <%= render "blog/articles/featured_post" %>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h5>Latest Projects</h5>
                    
                    <div id="latest-projects">
                        <%= render "blog/articles/latest_projects" %>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <h5>Latest Shorts</h5>
            
            <div id="latest-posts">
                <%= render partial: "blog/articles/articles", locals: { posts: @latest_posts } %>
            </div>
        </div>
    </div>
</section>