<section id="articles">
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <h6>
                <strong>latest posts</strong>
            </h6>
            
            <div id="latest-posts">
                <%= render partial: "blog/articles/articles",
                    locals: { posts: @latest_posts } %>
            </div>
        </div>
    </div>
</section>