<section id="edit-project">
    <div class="row">
        <div class="col-lg-8">
            <h5>Edit Project</h5>
            <hr>
            <%= render 'form' %>
        </div>
    </div>
</section>