<section id="projects">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                        <a class="nav-link active project-nav-link cursor-pointer" onclick="showContent(this)"
                            id="nav-link-coding">
                        <span style="float: left;">Coding</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link project-nav-link cursor-pointer" onclick="showContent(this)"
                        id="nav-link-research">
                        <span style="float: left;">Research</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link project-nav-link cursor-pointer" onclick="showContent(this)"
                        id="nav-link-misc">
                        <span style="float: left;">Misc</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="col-md-9">
            <section id="content-tab-coding" class="content-tab active">
                <%= render partial: "project/projects/projects", locals: { projects: @coding_projects } %>
            </section>
            
            <section id="content-tab-research" class="content-tab">
                <%= render partial: "project/projects/projects", locals: { projects: @research_projects } %>
            </section>
            
            <section id="content-tab-misc" class="content-tab">
                <%= render partial: "project/projects/projects", locals: { projects: @misc_projects } %>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    showContent = (elem) => {
        $('.project-nav-link.active').toggleClass('active');
        elem.classList.add('active');
        
        let id = elem.id.split('nav-link-')[1];
        $('.content-tab.active').toggleClass('active');
        $(`#content-tab-${id}`).toggleClass('active');
    }
</script>

<style type="text/css">
    .content-tab:not(.active) {
        display: none;
    }
</style>