<section id="projects">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span style="float: left;">Coding</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span style="float: left;">Research</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span style="float: left;">Misc</span>
                        <span style="float: right;">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>