/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

html, body {
    overflow-x: hidden !important;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    background-color: #e7e7e9;
    text-transform: lowercase;
    min-height: 60px;
    
    ul:first-child {
        visibility: hidden;
    }
    
    ul:last-child {
        visibility: visible;
    }
    
    .nav-link {
        color: #8e9fb2 !important;
        cursor: pointer;
    }
    
    .nav-item:not(:last-child) {
        margin-right: 10px;
    }
    
    .navbar-brand {
        font-family: 'Noto Sans', sans-serif;
        color: #000 !important;
    }
    
    .navbar-toggler {
        border: none;
        outline: none !important;
        box-shadow: none !important;
        font-size: 24px;
    }
}

#main-body {
    margin-top: 85px;
    margin-bottom: 85px;
    min-height: calc(100vh - 188px) !important;
    color: #737374;
    
    a {
        color: #007bff;
    }
}

form {
    font-size: 15px !important;
}

#article-form textarea:not(#article-description) {
    min-height: 500px;
}

#article {
    .article-content {
        color: #282d33;
    }
}

textarea {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

.article-banner {
    margin: 15px 0;
    
    img {
        width: 100%;
        height: auto;
    }
}

form .field:not(:last-child) {
    margin-bottom: 15px;
}

.btn:not(.nav-link), input.form-control {
    height: 55px;
    border-radius: 4px;
    outline: none !important;
    box-shadow: none !important;
}

.badge {
    border-radius: 4px;
    font-weight: normal !important;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-content {
    border-radius: 4px;
}

.dropdown-menu {
    width: 100%;
    padding: 0;
    border-radius: 4px;
    
    .dropdown-item {
        padding: 15px;
        cursor: pointer;
        border-bottom: 0.5px solid #e7e7e9;
    }
}

.btn-transparent {
    border-color: 1px solid #e7e7e9;
    color: #6c757d;
    background-color: transparent;
}

footer {
    background-color: #e7e7e9;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #90909e !important;
    text-align: center;
    
    a {
        color: #8e9fb2;
    }
    
    a:hover {
        color: #fff;
        text-decoration: none;
    }
    
    a:not(:last-child) {
        margin-right: 20px;
    }
}

#request-quote {
    border-radius: 4px;
    border-width: 1.5px;
    border-color: #fff;
}

#request-quote:hover {
    background-color: #fff;
    color: #47475e !important;
}

article {
    padding-bottom: 15px;
}

#comments {
    background-color: #e1e1e1;
    border-radius: 4px;
    padding: 15px;
    color: #4b4b4b !important;
    
    #no-comments-notice {
        text-align: center;
        margin: 0;
    }
    
    #comment-content {
        min-height: 300px !important;
    }
}

#postPreviewModal {
    .modal-dialog {
        margin: 0;
        max-width: 100%;
        padding: 15px 30px;
        align-content: center;
    }
    
    .modal-content {
        width: 100%;
    }
}

a.btn {
    padding-top: 14px;
    color: #fff !important;
    cursor: pointer;
}

.not-thick {
    height: 30px !important;
    padding-top: 3px !important;
}

#projects {
    .nav-link {
        height: 55px;
        padding-top: 14px;
    }
    
    .nav-link:hover, .nav-link.active {
        background-color: #007bff;
        color: #fff;
    }
}

.cat-link {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.no-underline {
    text-decoration: none !important;
}

.font-sm {
    font-size: 12px;
}

#about-avatar {
    margin-bottom: 15px;
}

.btn-transparent {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-width: 2.5px;
}

@media only screen and (max-device-width: 992px) {
    .related-posts-col {
        padding-top: 25px;
    }
    
    nav {
        .nav-item:not(:last-child) {
            border-bottom: 1px solid #fafafa;
        }
        
        .nav-item {
            text-align: center;
            margin-right: 0 !important;
        }
        
        ul:first-child {
            visibility: visible !important;
        }
        
        ul:last-child {
            visibility: hidden !important;
        }
    }
}

.project-box {
    height: calc((100vh - 60px - 128px)/2);
    padding: 0;
    
    div.table {
        display: table;
        width: inherit;
        height: inherit;
        text-align: center;
        margin-bottom: 0;
        
        div {
            display: table-cell;
            vertical-align: middle !important;
            
            img {
                margin-bottom: 15px;
            }
        }
    }
}

#senzzu {
    overflow: hidden;
    
    .table {
        background-color: #f27649;
        
        h4 {
            color: #91462b;
        }
    }
    
    .cta {
        visibility: hidden;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        width: calc(100vw/2);
        text-align: center !important;
        color: #fff;
        
    }
}

#senzzu:hover {
    .cta {
        bottom: 250px;
        visibility: visible;
    }
    
    .table {
        cursor: pointer;
        filter: brightness(60%);
    }
    
    .btn-transparent:hover {
        background-color: #fff;
        color: #f27649;
    }
}

#myrates {
    overflow: hidden;
    
    .table {
        background-color: #adadc4;
        
        h4 {
            color: #47475e;
        }
    }
    
    .cta {
        visibility: hidden;
        position: fixed;
        top: 0;
        z-index: 9999;
        width: calc(100vw/2);
        text-align: center !important;
        color: #fff;
        
    }
}

#myrates:hover {
    .cta {
        top: 150px;
        visibility: visible;
    }
    
    .table {
        cursor: pointer;
        filter: brightness(60%);
    }
    
    .btn-transparent:hover {
        background-color: #fff;
        color: #adadc4;
    }
}

#driprent {
    overflow: hidden;
    
    .table {
        background-color: #001833;
        
        h4 {
            color: #fff;
        }
    }
    
    .cta {
        visibility: hidden;
        position: fixed;
        top: 0;
        z-index: 9999;
        width: calc(100vw/2);
        text-align: center !important;
        color: #fff;
        
    }
}

#driprent:hover {
    .cta {
        top: 150px;
        visibility: visible;
    }
    
    .table {
        cursor: pointer;
        filter: brightness(60%);
    }
    
    .btn-transparent:hover {
        background-color: #fff;
        color: #001833;
    }
}

#dinnerhost {
    overflow: hidden;
    
    .table {
        background-color: #007bff;
        
        h4 {
            color: #004999;
        }
    }
    
    .cta {
        visibility: hidden;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        width: calc(100vw/2);
        text-align: center !important;
        color: #fff;
        
    }
}


#dinnerhost:hover {
    .cta {
        bottom: 250px;
        visibility: visible;
    }
    
    .table {
        cursor: pointer;
        filter: brightness(60%);
    }
    
    .btn-transparent:hover {
        background-color: #fff;
        color: #007bff;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #8e9fb2; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8e9fb2; 
}

.hamburger {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    height: 39px;
    background-color: transparent;
    display: table;
    
    span {
        height: 0;
    }
    
    .ham-menu {
        width: 100%;
        height: 3px;
        background-color: #8e9fb2;
        transition: width 0.55s;
    }
    
    .ham-menu-wrapper {
        margin-top: 10px;
    }
    
    #stack1, #stack2 {
        margin-bottom: 5px;
    }
    
    #stack3 {
        width: 60%;
        transition: width 0.15s;
    }
    
    #stack2 {
        width: 80%;
        transition: width 0.35s;
    }
}

.hamburger:focus {
    #stack1, #stack2, #stack3 {
        width: 0;
    }
}

#side-panel.active {
    display: table;
    height: 100vh;
    width: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    padding: 20px 40px;
}

#side-panel {
    display: none;
    width: 0;
    transition: all 0.50s;
    text-transform: lowercase;
    border-left: 1px solid #e7e7e9;
    box-shadow: 0 26px 54px -10px rgba(50,50,93,.25);
    
    i {
        font-size: 25px;
    }
    
    header {
        display: flex;
        
        .float-left {
            width: 50%;
            text-align: left;
        }
        
        .float-right {
            width: 50%;
            text-align: right;
        }
    }
    
    footer {
        background-color: transparent;
        vertical-align: text-bottom;
        width: 100%;
        
        p {
            font-size: 14px !important;
            
            a {
                text-decoration: underline !important;
            }
        }
    }
    
    p:not(:last-child) {
        margin-bottom: 25px;
    }
    
    section {
        margin-top: 25px;
    }
    
    p {
        font-size: 25px !important;
        
        a {
            color: #8e9fb2 !important;
        }
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.digg_pagination, {
    background: white;
    cursor: default;
}

.digg_pagination_custom {
    
    a, span, em {
        padding: 0.2em 0.5em;
        display: block;
        float: left;
        margin-right: 1px;
    }
    
    .disabled {
        color: #999999;
        border: 1px solid #dddddd;
    }
    
    .current {
        font-style: normal;
        font-weight: bold;
        background: #2e6ab1;
        color: white;
        border: 1px solid #2e6ab1;
    }
    
    // a {
    //     text-decoration: none;
    //     color: #105cb6;
    //     border: 1px solid #9aafe5;
        
    //     &:hover, &:focus {
    //         color: #000033;
    //         border-color: #000033;
    //     }
    // }
    
    .page_info {
        background: #2e6ab1;
        color: white;
        padding: 0.4em 0.6em;
        width: 22em;
        margin-bottom: 0.3em;
        text-align: center;
    }
    
    b {
        color: #000033;
        background: #2e6ab1 + 60;
        padding: 0.1em 0.25em;
        
        &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        
        * html & {
            height: 1%;
        }
        
        *:first-child+html & {
            overflow: hidden;
        }
    }
}
