<section id="series-page">
    <div class="row">
        <div class="col-lg-12">
            <h6>
                <strong>series</strong>
            </h6>
            
            <div id="series">
                <%= render partial: "series/series",
                    locals: { series: @series } %>
            </div>
        </div>
    </div>
</section>