<section id="new-series-form">
    <div class="row">
        <div class="col-md-6">
            <h5>Start a new series</h5>
            <hr>
            
            <%= render 'form' %>
        </div>
    </div>
</section>