<% if @featured_post %>
    <article>
        <h5>
            <%= link_to @featured_post.title,
                blog_show_article_path(:slug => @featured_post.slug, :id => @featured_post.id) %>
        </h5>
        <p>
            <%= pluralize(@featured_post.comments.count, "comment") %>
        </p>
    </article>
<% else %>
    <h6>no featured post to display yet</h6>
<% end %>