<section id="articles-section">
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <div class="dropdown">
                <button class="btn btn-outline-primary btn-block" type="button"
                    id="categoryMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    categories <i class="fas fa-angle-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="categoryMenuButton">
                    <% all_categories.each do |cat| %>
                    <a class="dropdown-item" style="cursor: pointer;"
                        onclick="loadCategory(this, '<%= cat %>');">
                        <%= cat %>
                    </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <section id="articles">
                <%= render partial: "blog/articles/articles", locals: { posts: @articles } %>
            </section>
        </div>
    </div>
</section>