<section id="articles-category-<%= params[:tag] %>">
    <div class="row">
        <div class="col-lg-8">
            <h6>
                [tagged: <%= params[:tag] %>]
            </h6>
            
            <div>
                <%= render partial: "blog/articles/articles", locals: { posts: @articles } %>
            </div>
        </div>
    </div>
</section>