<main class="container" id="main-body">
    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
</main>

<section id="side-panel">
    <header align="right">
      <span class="float-left">
        Menu
      </span>
      
      <a class="cursor-pointer float-right" onclick="$('#side-panel').toggleClass('active');">
        <i class="fas fa-times"></i>
      </a>
    </header>
    
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    
    <section>
      <p>
        <a href="/blog">
          blog
        </a>
      </p>
      
      <p>
        <a href="/photography">
          photography
        </a>
      </p>
      
      <p>
        <a href="/about">
          about
        </a>
      </p>
      
      <% if current_admin %>
        <p>
          <strong>
            <a class="nav-link" href="/">
                <%= current_admin.first_name %>
            </a>
          </strong>
        </p>
      <% end %>
    </section>
    
    <footer>
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      
      <p>
        <a href="https://cliquestudios.com/minimalist-design-approach"
          target="_blank">
          less is more
        </a>
      </p>
    </footer>
</section>