<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="margin: 0;">
                    &copy; 2020 demesvar.com | all rights reserved
                </p>
            </div>
        </div>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <p>
                    <a href="https://instagram.com/darealdemdestin"
                        target="_blank" class="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/darealdemdestin"
                        target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="mailto:demesvardestin@gmail.com"
                        target="_blank">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a href="https://github.com/demesvardestin"
                        target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://medium.com/darealdemdestin"
                        target="_blank">
                        <i class="fab fa-medium-m"></i>
                    </a>
                    <a href="https://linkedin.com/in/demesvardestin"
                        target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <span>
                    <a href="/login">
                        admin portal
                    </a>
                </span>
                &bull;
                <span>
                    <a href="https://github.com/demesvardestin/demesvar">
                        source code
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>