<footer style="bottom: 0; text-align: center; padding-top: 15px; padding-bottom: 15px;
            background-color: #47475e;">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6 text-center">
            <a href="https://instagram.com/myrates.co" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/myrates_co" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="mailto:teammyrates@gmail.com" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="far fa-envelope"></i>
            </a>
            <a href="https://github.com/demesvardestin" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://medium.com/darealdemdestin" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="fab fa-medium"></i>
            </a>
        </div>
        
        <div class="col-md-6" align="center">
            <p style="margin: 0; color: #fff;">
                <a class="color-white" disabled style="color: #fff !important;">
                    &copy; 2019 demesvar.com
                </a> |
                built & designed by yours truly |
                <a href="https://github.com/demesvardestin/demesvar">
                    view source code
                </a>
            </p>
        </div>
    </div>
</footer>