<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="alt-nav">
    <div class="container">
        <a class="navbar-brand">Demesvar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/resume">
                        Resume/CV
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/blog">
                        Blog
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/projects">
                        Projects
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/me">
                        About Me
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>