<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="alt-nav">
    <div class="container">
        <a class="navbar-brand">Demesvar.COM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        Home
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/blog">
                        Blog
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/project/list">
                        Projects
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        About
                    </a>
                </li>
                <% if current_admin %>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-user-circle"></i>
                            <%= current_admin.first_name %>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>