<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="alt-nav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Demesvar Destin" style="height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">
                        blog
                    </a>
                </li>
                
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link" href="/photography">-->
                <!--        photography-->
                <!--    </a>-->
                <!--</li>-->
                
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        about
                    </a>
                </li>
                <% if current_admin %>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-user-circle"></i>
                            <%= current_admin.first_name %>
                        </a>
                    </li>
                <% end %>
            </ul>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="hamburger" type="button"
                        onclick="$('#side-panel').toggleClass('active');">
                        <div class="ham-menu-wrapper">
                            <div class="ham-menu" id="stack1"></div>
                            <div class="ham-menu" id="stack2"></div>
                            <div class="ham-menu" id="stack3"></div>
                        </div>
                        
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>